<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sentiment Analysis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <br><br>
    <center><h2>Sentiment Analysis Application</h2></center><br>

    <form action="/detect" method="post">
        <div class="form-group">
            <h3><label for="exampleFormControlTextarea1">Enter your review</label></h3><br>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review"></textarea>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>


</body>
</html>